<br>
<div class="container">
  <div class="row">
    <div class="col-11">
      <br/>
      <h4>Register here</h4>
      <form [formGroup]="userForm" 
            (ngSubmit)="onSubmit(userForm.value)">
        <mat-form-field>
          <input    id="name" type="text" 
                    placeholder="Enter a private name"
                    required 
                    matInput 
                    formControlName="name" />
        </mat-form-field>
        <br/>
        <mat-form-field class="username">
            <input  id="username" type="text"
                    placeholder="Enter a public username" 
                    required 
                    matInput 
                    formControlName="username" />
        </mat-form-field>
        <br/>
        <mat-form-field class="email">
          <input  id="email" type="text"
                  placeholder="Enter your email (u can enter a fake one)" 
                  required 
                  matInput 
                  formControlName="email" />
      </mat-form-field>
      <br/>
      <mat-form-field class="password">
        <input  id="password" type="password"
                placeholder="Enter your secret password here, this will be encrypted" 
                required 
                matInput 
                formControlName="password" />
      </mat-form-field>
      <br/>
      <br/>
        <hr/>
        <div class="row">
          <div class="col-10">
          </div>
          <div class="col-2">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>
