<br>
<div class="container">
  <div class="row">
    <div class="col-11">
      <br>
      <h4>Create Product</h4>
      <form [formGroup]="productForm" 
            (ngSubmit)="onSubmit(productForm.value)">
        <mat-form-field>
          <input    id="productName" type="text" 
                    placeholder="Name of the product"
                    required 
                    matInput 
                    formControlName="productName" />
        </mat-form-field>
        <br>
        <mat-form-field class="price">
            <input  id="pricePerUnit" type="number"
                    placeholder="Price per Unit" 
                    required 
                    matInput 
                    formControlName="pricePerUnit" />
            <span matPrefix>€&nbsp;</span>
        </mat-form-field>
        <br/>
        <mat-checkbox   id="sold" type="checkbox" 
                        color="primary"
                        matInput 
                        formControlName="sold">
            Product is already sold?
        </mat-checkbox>
        <hr/>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
      <br>
    </div>
  </div>
</div>
