<div class="container">
    <div mat-elevation-z8>
      <button mat-icon-button (click)="($event)">
        <fa-icon [icon]="faEye"></fa-icon>
      </button>
      <mat-form-field>
        <input matInput (keyup)="doFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  
      <table  mat-table class="full-width-table" 
              matSort
              aria-label="suppliers"
              [dataSource]="dataSourceSupplier">
        
        <!-- Name  -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUPPLIER</th>
          <td mat-cell *matCellDef="let supplier">{{supplier.supplierName}}</td>
        </ng-container>
  
        <!-- bankdetails -->
        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BANK</th>
          <td mat-cell *matCellDef="let supplier">{{supplier.bankaccounts[0].accountNumber}}</td>
        </ng-container>
  
        <!-- Action-button-icons -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let supplier" align="right" class="action-link">
            <button mat-stroked-button (click)="($event)">
              <fa-icon [icon]="faEye"></fa-icon>
            </button>
            <span style="font-size: 3em; color: blue;">
              <button mat-stroked-button (click)="($event)">
                <fa-icon [icon]="faTruck"></fa-icon>
              </button>
            </span>
            <span style="font-size: 3em; color: orange;">
              <button mat-stroked-button (click)="($event)">
                <fa-icon [icon]="faTools"></fa-icon>
              </button>
            </span>
            <span style="font-size: 3em; color: Tomato;">
              <button mat-stroked-button (click)="deleteClick(supplier)">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </span>
          </td>
        </ng-container>
  
        <tr class="header" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row (click)="click($event)" *matRowDef="let supplier; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator #paginator [length]="[suppliers].length" [pageIndex]="0" [pageSize]="50"
        [pageSizeOptions]="[5, 10, 50, 100, 250]">
      </mat-paginator>
    </div>
  </div>
  
