<div class="container">
  <div class="row">
    <div class="col-11">
      <br>
      <h4>Create Customer</h4>
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm.value)">
        <mat-form-field>
          <input id="customerName" type="text" placeholder="Name of the customer" required matInput
            formControlName="customerName" />
        </mat-form-field>
        <hr />
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
      <br>
    </div>
  </div>
</div>
