<br>
<div class="container">
  <div class="row">
    <div class="col-10">
      <br/>
      <h4>Login please</h4>
      <form [formGroup]="loginForm" 
            (ngSubmit)="onSubmit(loginForm.value)">
        <mat-form-field>
          <input    id="username" type="text" 
                    placeholder="Enter your username"
                    required 
                    matInput 
                    formControlName="username" />
        </mat-form-field>
      <br/>
      <mat-form-field class="password">
        <input  id="password" type="password"
                placeholder="Enter your secret password" 
                required 
                matInput 
                formControlName="password" />
      </mat-form-field>
      <br/>
      <br/>
        <hr/>
        <div class="row">
          <div class="col-10">
          </div>
          <div class="col-2">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>
