<div class="container"> 
</div>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Great Succes!</h4>
    <p>Aww yeah, you successfuly logged in & are authorized with JWT & Authguard to access the full application! Your userdata is stored in a MongoDB =)</p>
    <hr>
    <h6>You can now Create & View data from the MySQL database.</h6>
    <ul class="mb-0">
        <li>products</li>
        <li>suppliers</li>
        <li>customers</li>
    </ul>
    <br>
</div>
