.full-width-table {
  width: 100%;
}

table {
  background-color: white;
}

mat-paginator {
  background-color: burlywood;
  color: palevioletred;
  font-weight: bolder;
}

th {
  color: palevioletred;
  font-weight: bolder;
}

.container {
  background-color: beige;
  margin-bottom: 50px;
  margin-top: 50px;
}

th {
  background-color: burlywood;
}

.mat-column-action {
  width: 25%;
}
