<nav class="navbar navbar-light">
  <a class="navbar-brand" [routerLink]="['/']"><span>$tore @pp</span></a>
  <ul class="nav">
    <li>
      <button type="button" class="btn btn-outline-primary"
              [routerLink]="['/login']" 
              [routerLinkActive]="['active']"
              *ngIf="authService.userIsLoggedOut()"
              >Login
      </button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-primary"
                [routerLink]="['/register']" 
                [routerLinkActive]="['active']"
                *ngIf="authService.userIsLoggedOut()"
                >Register
        </button>
    </li>
    <li>
      <button type="button" class="btn btn-outline-primary"
              (click)="onLogout($event)"
              *ngIf="!authService.userIsLoggedOut()"
              >Logout
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-outline-primary"
              [routerLink]="['/profile']" 
              [routerLinkActive]="['active']"
              *ngIf="!authService.userIsLoggedOut()"
              >Profile
      </button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-primary"
                [routerLink]="['/dashboard']" 
                [routerLinkActive]="['active']"
                *ngIf="!authService.userIsLoggedOut()"
                >Dashboard
        </button>
        <br>
      </li>
    <li>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" 
                ngbDropdownToggle
                *ngIf="!authService.userIsLoggedOut()"
                >Create
        </button>
        <div ngbDropdownMenu 
              aria-labelledby="dropdownBasic1" 
              class="dropdown-menu dropdown-menu-left"
              >
          <button [routerLink]="['/product-form']" 
                  [routerLinkActive]="['active']"
                  ngbDropdownItem
                  >Product
          </button>
          <button [routerLink]="['/supplier-form']" 
                  [routerLinkActive]="['active']"
                  ngbDropdownItem
                  >Supplier
          </button>
          <button [routerLink]="['/customer-form']" 
                  [routerLinkActive]="['active']"
                  ngbDropdownItem
                  >Customer
          </button>
        </div>
      </div>
    </li>
    <li> 
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" 
                ngbDropdownToggle
                *ngIf="!authService.userIsLoggedOut()"
                >View
        </button>
        <div  ngbDropdownMenu 
              aria-labelledby="navbarDropdown2" 
              class="dropdown-menu dropdown-menu-right"
              >
          <button [routerLink]="['/product-list']" 
                  [routerLinkActive]="['active']"    
                  ngbDropdownItem
                  >Products
          </button>
          <button [routerLink]="['/supplier-list']" 
                  [routerLinkActive]="['active']" 
                  ngbDropdownItem
                  >Suppliers
          </button>
          <button [routerLink]="['/customer-list']" 
                  [routerLinkActive]="['active']" 
                  ngbDropdownItem
                  >Customers
          </button>
        </div>
      </div>
    </li>
  </ul>
</nav>
