nav {
    background-color: black;
}
button {
    margin: 2px;
}
.navbar-brand {
    color: rgb(185, 135, 6);
    font-family: fantasy;
    font-size: 200%;
    letter-spacing: 2px;
}
span:hover {
    color: blue;
}