<div class="container">
    <div class="row">
      <div class="col-11">
        <br>
        <h4>Create Supplier</h4>
        <form [formGroup]="supplierForm" 
              (ngSubmit)="onSubmit(supplierForm.value)">
          <mat-form-field>
            <input    id="supplierName" type="text" 
                      placeholder="Name of the Supplier"
                      required 
                      matInput 
                      formControlName="supplierName" />
          </mat-form-field>
          <hr />
          <button class="btn btn-success" type="submit">Submit</button>
        </form>
        <br>
      </div>
    </div>
  </div>